{% extends 'layout.html' %}
{% block content %}
    <h1>About Page</h1>
    <p>Welcome to our project!</p>
    <p>This project aims to provide a comprehensive solution for managing student information. It allows you to add, view, and update student records in a user-friendly interface.</p>
    <p>With our intuitive interface and powerful features, you can easily keep track of students' names, emails, phone numbers, groups, and genders. The system ensures that your data is securely stored and readily accessible whenever you need it.</p>
    <p>Our project utilizes modern web technologies, including Python, Flask, and Jinja, to deliver a seamless user experience. We have designed the interface to be responsive and visually appealing, ensuring that you can efficiently manage student information from any device.</p>
    <p>Whether you are an educator, administrator, or anyone involved in student management, our project simplifies the process and helps you streamline your tasks. Say goodbye to manual paperwork and embrace the convenience of digital student management.</p>
    <p>Thank you for choosing our project. We hope it serves your needs and enhances your student management experience. If you have any feedback or suggestions, please feel free to reach out to us. Happy managing!</p>
{% endblock content %}
