{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group row">
                <label for="{{ form.title.id }}" class="col-sm-2 col-form-label font-weight-bold">{{ form.title.label.text }}:</label>
                <div class="col-sm-10">
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.content.id }}" class="col-sm-2 col-form-label font-weight-bold">{{ form.content.label.text }}:</label>
                <div class="col-sm-10">
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>            
        </fieldset>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>       
    </form>
</div>
{% endblock content %}
